* {
    font-weight: 200;
  
  }
  
  .about {
      background: var(--gray-800);
      border-radius: 8px;
      padding: 0.8rem 2.5rem;
      margin-bottom: 1rem ;
     
    }

    h1  {
      margin-bottom: 1rem;
    
    }

    p {
      font-size: .875rem;
    }
  
  
  