* {
  font-weight: 200;

}

.post {
    background: var(--gray-800);
    border-radius: 8px;
    padding: 0.5rem 2.5rem;
  }


.period span {
  color: var(--main-color-300);
  font-weight: 600;

}
.period h4{
  font-size: .700rem;
  margin-bottom: 0.3rem;

}


.post h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 200;
  }
  
.post p {
  font-size: .700rem;
  margin-bottom: 1rem;
}

.post h2 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.post h3 {
  font-size: .800rem;
  margin-bottom: 0.5rem;
}

.role p span {
  color: var(--main-color-300);
  font-size: .900rem;
}

.professional {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem; 
}

.skillCard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem; 
  justify-content: center;
 
}


.card {
  border: 2px solid var(--main-color-300);  
  text-align: center;
  border-radius: 8px;
  padding: .5rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem; 
  
}

.skillCard h2{
  font-size: 1rem;
  background: var(--green-500);
  margin-left: 0;
  border-radius: 6px;
  height: 50%;
  text-align:justify;
  align-content:end;
  padding: 1rem;
  font-weight: 600;
  height: 100%;

  

}