.sidebar{
    background: var(--gray-800);
    border-radius: 8px;
    overflow: hidden;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.profile strong {
    margin-top: 1rem;
    color: var(--gray-100);
    line-height: 1.6;
}

.profile span {
    font-size: 0.875rem;
    color: var(--gray-400);
    line-height: 1.6;
}

.information {
    display: flex;
    flex-direction: column;
    align-items:flex-start;

}


.information h1 {
    font-size: 1.1rem;
    color: var(--gray-100);
    line-height: 1.6;
    padding-bottom: 0.5rem ;
  
}

.information p {
    font-size: 0.800rem;
    color: var(--gray-400);
    line-height: 1.6;
   

}
.information p span {
    color: var(--main-color-300);


}

.sidebar footer {
    border-top: 1px solid var(--gray-600);
    margin-top: 1.5rem;
    padding: 1.5rem 2rem 2rem;
}
